# ========================
# DATABASE
# ========================
DATABASE_URL="postgresql://postgres:@Cris7ronaldo@localhost:5432/locacao_system"

# ========================
# JWT
# ========================
JWT_SECRET="lLSJOauTFOBfpJAwN6P8av+daxvUfs24VJ0HvW7XPnqGuU/v8SkDMjNtHeZcdp6l"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="WIS5yut0MUfPHgP4bJ1VXhx7J6v7aKSu5HOUVPt1Up19sCws52w6uTlmA+epEpcm"
JWT_REFRESH_EXPIRES_IN="7d"

# ========================
# APP
# ========================
NODE_ENV="development"
PORT=3000
API_PREFIX="api/v1"
APP_NAME="Sistema de Locações"

# ========================
# THROTTLE (Rate Limiting)
# ========================
THROTTLE_TTL=60
THROTTLE_LIMIT=100

# ========================
# CORS
# ========================
CORS_ORIGINS="http://localhost:3001,http://localhost:3000"
